/* Write your code here. */

* {
  box-sizing: border-box;
  margin: 0;
}
.social-buttons-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  margin-bottom: 10px;
}
.like-button {
  background-color: #eab308;
  color: #ffffff;
  padding: 5px;
  margin: 6px;
  border: 0px;
  border-radius: 8px;
}
.comment-button {
  background-color: #ffffff;
  color: #323f4b;
  padding: 5px;
  margin: 6px;
  border: 0px;
  border-radius: 8px;
}
.share-button {
  background-color: #1d4ed8;
  color: #ffffff;
  padding: 5px;
  margin: 6px;
  border: 0px;
  border-radius: 8px;
}
